
*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgb(39 39 42 / var(--tw-bg-opacity));        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 19);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(20, 20, 19);  /* creates padding around scroll thumb */
}